body{
    background: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    margin-top: 120px;
}
h1{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

}
h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: midnightblue;
    padding-bottom: 15px;
    font-weight: 500;
}
h3{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding-bottom: 5px;
}
p{
    line-height: 20px;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
}
.header-image{
    padding-top: 15px;
    padding-bottom: 20px;
}
section{
    padding-right: 20px;
    padding-left: 20px;

}
li{
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;

}
ol{
    color:rgb(0, 0, 0);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
}
ul{
    list-style-type: disc;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
   
}
a{
    color: rgb(95, 55, 174);
}
.active{
    color: #FFCB05; 
}
div .skip{
    position: absolute;
    top: -80px;
}
footer{
    padding-right: 20px;
    padding-left: 20px;

}
img{
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.button1 {
    a{
        color: black;
        text-decoration: none;
    }

    background-color: rgba(255, 203, 5, 1);
    border: solid 1px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 10px 32px 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
}
.button2 {
    a{
        color: black;
        text-decoration: none;
    }

    background-color: rgba(255, 203, 5, 1);
    border: solid 1px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 10px 32px 10px 32px;
    /* padding: 5px 60px; */
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;

}
.list-item-size{
    font-size: 20px;
    color: midnightblue;
}
hr{
    border: none;     
    height: 2px;       
    background-color: #dcdcdc; 
    margin-top: 20px;   
    margin-bottom: 20px;
}
header img{
    height: 70px;
    padding-left: 5px;
    justify-content: center;
}
header {
    background-color: #00274C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
}
header * {
    display: inline;
}
header li {
    margin: 3px;
}
header li a {
    color: #ffffff;
    text-decoration: underline;
}
footer{
    padding-top: 15px;
    background-color: #00274C;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
    padding: 15px 15px;
    color: #ffffff;
    text-align: center;
    align-items: top;

}
footer a{
    color: #ffffff;
}
footer .footer-last-line {
    text-align: center;  
    width: 100%;   
    grid-column: 1/-1;      
}
form {
    background-color:#00274C; 
    padding: 20px;
    max-width: 900px;
    margin: auto;
    color: #ffffff; 
    margin: 20px 0px 40px 0px;
    
    
}
  
  label {
    display: block;
    margin-bottom: 10px;
}
  
  input[type="text"], input[type="number"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #191970;
    border-radius: 5px;
}
  
  input[type="submit"] {
    background-color: #FFCB05; 
    color: black; 
    padding: 10px;
    width: 100%;
}
label{
    font-size: 16px;
}
legend{
    font-size: 20px;
    padding-bottom: 30px;
    color: #FFCB05;
}
.radio-group{
    padding-bottom: 30px;
}

@media only screen and (min-width: 1440px){
    
    .skip{
        position: absolute; 
        top: -40px;
    }
    .skip:focus-within {
        top: 90px;
    }
    section{
        margin: 20px 60px 0px 60px;
    }
    
    nav{
        a{
            font-size: 26px;
            gap: 20px;

        }

    }
    .active{
    color: #FFCB05; 
    }
    header li {
        margin: 40px;
    }
    h1{
        font-size: 50px;
        margin-left: 65px;
    }
    h2{
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    h3{
        font-size: 30px;
    }
    figcaption{
        font-size: 20px;
        padding-bottom: 10px;
    }
    p{
        font-size: 24px;
        line-height: 28px;
        /* margin: 10px; */
    }
    li{
        font-size: 24px;
        padding-bottom: 20px;
    }
    .academics{
        display:flex;
        max-width:1500px;
        margin-right: 10px;
        margin-left: 200px;
        padding-top: 40px;
        padding-bottom:40px;
        align-items: center;
        
        
    }
    .row{
        width: 70%;
        padding-right: 50px;
    }
    .list-item-size{
        font-size: 25px;
    }
    a{
        font-size: 24px;
    }
    li a{
        font-size: 20px;
    }
    nav a{
        font-size: 26px;
    }
    .header-image{
        display: inline-block;
        object-fit: cover;   
        max-width:2000px;
        max-height:900px;
        width: auto;
        height: auto;
    }
    .header-image2 {
        display: block;
        max-width: 100%;       /* Ensures the image stretches to fill the container's width */
        object-fit: cover;
    }
    .img-body{
        max-width: 1800px;
        max-height: 900px;
        object-fit:fill;
        

    }
    .img-body2{
        max-width: 2500px;
        max-height: 600px;
        object-fit: cover;
        padding-bottom: 50px;

    }
    .peerintro-text{
        margin: 0px 40px;
         padding: 0px 30px 0px 30px;

        ul{
            padding-left: 70px;

        }
        li.button2 {
            display: flex;
            display: inline-block;    /* Aligns <li> items side by side */
            margin-right: 10px;       /* Optional: space between buttons */
            margin-bottom: 20px;
        }
    }
        
    .academics2{
        display:flex;
        max-width: 2000px;
        margin-right: 10px;
        padding: 0px 20px 30px 20px;
        /* margin-left: 70px;  
        padding-top: 20px; */

        .img2{
            max-width: 900px;
            padding-right: 70px;
        }
    }
    .peertutoring-img2{
        max-width: fit-content;
        /* padding-right: 90px; */
        padding-left: 90px;
        max-width: 100%;
        object-fit: fill;
    }
    .academics4{
        display:flex;
        margin-right: 0px 40px 0px 40px;
        padding: 0px 80px 30px 80px;
        align-items: center;
        justify-content: center;
    }
    .academics5{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
            img{
                margin-right: 600px;

        }
    }
    .academics6{
        display:flex;

    }
    .img-1{
        padding-right: 30px;
       
    }
   
    .csp-img{
        /* padding-right: 80px; */
        max-width: 900px;
        max-height: 600px;
    }
    .csp-text{
        padding-left: 60px;
        padding-top: 100px;
        align-items: center;
    }
    .firstgen-text1{
        max-width: 50%;
    }
    .peertutoring-img3{
        width: 100%;           
        height: auto;          
        max-width: 100%;      
        max-height: 100%;    
        object-fit: contain;
    }
    .academics3{
        display:flex;
        max-width: 2000px;
        margin-right: 10px;
        padding: 0px 50px 30px 200px;
        /* margin-left: 70px;  
        padding-top: 20px; */ 
    .img2{
        max-width: 800px;
        object-fit: fill;
        padding-right: 80px;
        padding-top: 30px;
        /* padding-right: 100px; */
    }
    form {
        background-color:#00274C; 
        padding: 20px;
        max-width: 900px;
        margin: auto;
        color: #ffffff; 
        
        
    }
      
      label {
        display: block;
        margin-bottom: 10px;
    }
      
      input[type="text"], input[type="number"] {
        width: 90%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #191970;
        border-radius: 5px;
    }
      
      input[type="submit"] {
        background-color: #FFCB05; 
        color: black; 
        padding: 10px;
        width: 100%;
    }
    label{
        font-size: 24px;
    }
    legend{
        font-size: 26px;
        padding-bottom: 30px;
        color: #FFCB05;
    }
    .form-display{
        max-width: 900px;
        padding-top: 100px;
        
    }
    .tutoring-text{
        max-width: 800px;
    }
    .radio-group{
        padding-bottom: 40px;
    }
    }
    .backgroundcolor-404{
        background-color: #10284a;
    }
    .michigan-banner{
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .errorheader-message{
        color: #ffffff;
        font-size: 100px;
        text-align: center;
        position: relative;
        top: 100px;

    }
    .errorbody-message{
        color: #ffffff;
        font-size: 50px;
        text-align: center;
        position: relative;
        top: 150px;
        line-height: 60px;


    }
    

    

}
